page-login {
	.content{
	background-color: #E0FFFF
	}
}
.contenedor{
	max-width: 200px;
	padding: 10% ;
	margin:15% ;
	margin-right: 10%;
	border: 5px #ccc;
	border-radius: 5px;
	border-color: grey;
	box-shadow:2px 2px 5px #999;
	background:  #81b387 
	;


}

.button{
	vertical-align: -webkit-baseline-middle;
	

	
}